* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    text-decoration: none;
    border:0;
    background-color: transparent;
}
 :root{
    --bg-padrao:rgb(253, 251, 251);
    --bg-destaque: rgb(255, 255, 255);
    --logo-imagem: url(../img/logo.png) center left no-repeat;

    --bg-menu-drop-celular:rgb(255, 255, 255);
    --bg-menu-drop-hover:rgb(206, 248, 195);
    --cor-menu-drop: invert(0%);

    --all-color-font: rgb(0, 0, 0, 0.9);
    --destaque-color-font: rgb(0, 192, 135);

    --btn-dark-bg: url(../img/lua.png) center center no-repeat;
    --btn-dark-tamanho-imagem: 100%;
    --btn-interrogacao-bg: url(../img/interrogacao.png) center center no-repeat;
    --btn-perfil-bg:url(../img/icone_usuario_preto.png) no-repeat center center;
    --btn-like-bg: url(../img/like.png) center center no-repeat;
    --btn-deslike-bg: url(../img/deslike.png) center center no-repeat;
    --btn-border: 2px solid black;

    --img-face: url(../img/face.png) center center no-repeat;
    --img-insta: url(../img/insta.png) center center no-repeat;
    --img-twitter: url(../img/twitter.png) center bottom no-repeat;
    --img-whats: url(../img/whats.png) center bottom no-repeat;
 }

 .dark-mode:root{
    --bg-padrao: rgb(43, 43, 43);
    --bg-destaque:rgb(59, 60, 61);
    --logo-imagem: url(../img/logo_branca.png) center center no-repeat;
    
    --bg-menu-drop-celular:rgb(59, 60, 61);;
    --bg-menu-drop-hover:rgba(203, 215, 227, 0.6);
    --cor-menu-drop: invert(100%);
    
    --all-color-font: rgba(255, 255, 255, 0.9);
    --destaque-color-font: rgb(219, 255, 17);

    --btn-dark-bg: url(../img/sol.png) center center no-repeat;
    --btn-dark-tamanho-imagem: 150%;
    --btn-interrogacao-bg: url(../img/interrogacao_inverso.png) center center no-repeat;
    --btn-perfil-bg:url(../img/icone_usuario.png) no-repeat center center;
    --btn-border: 2px solid white;

    --img-face: url(../img/face.png) center center no-repeat;
    --img-insta: url(../img/insta.png) center center no-repeat;
    --img-twitter: url(../img/twitter.png) center bottom no-repeat;
    --img-whats: url(../img/whats.png) center bottom no-repeat;
 }
 


/* HEADER */
body{
    color: var(--all-color-font);
    background-color: var(--bg-padrao);
    min-width: 200px;
    max-width: 2000px;
    margin: 0 auto;
}

header{
    height: 70px;
    width: 100%;
    background-color: var(--bg-destaque);
    position: fixed;

    display: flex;
    align-items:center;
    justify-content: space-between;
    z-index: 100;
    border-bottom: 2px solid rgba(204, 204, 204, 0.37);
}

#separador{
    height: 70px;width: 100%;
}
/* LOGO HEADER */

#logo{
    width: 16.5%;
    height: 70px;
}

#logo a{
    display: block;
    width: 135px;
    background: var(--logo-imagem);
    background-size: 100%;
    text-indent: -3000px;
    height: 70px;
}
/* NAV HEADER */
header nav{
    float: left;
    font-size: 1.2em;
}
header nav ul li{
    float: left;
    font-size: 1.3em;
}
header nav ul li a{
    padding: 0 30px;
    color: var(--all-color-font);
}
header nav ul li a:hover{
    color: rgb(0, 192, 135);
    transition: 0.5s;
}
/* Não é pra estar aqui */
#container #nav_itens ul li a{
    color: var(--all-color-font);
}
/* Não é pra estar aqui */
.aqui{
    color: var(--destaque-color-font);
}
#container_itens{
    background-color: var(--bg-destaque);
}
#historico input[type='text']{
   color: var(--all-color-font);
}
/*  BOTOES HEADER */

#botoes_header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 16.5%;
}
/* NEM TOCA AQUI */

#botoes_header .btn_redondo{
    text-align: center;
    font-size: 1.3em;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 100%;
    border: 2px solid rgb(2, 2, 2, 0.5);
    padding: 0 15px;    
    margin: 0 5px;
}
#botoes_header #sair{
    border: 2px solid rgb(2, 2, 2, 0.5);
    width: 35px;
    height: 35px;
    font-size: 1em;
    border-radius: 100%;
    margin-right:10px;
    color:rgb(0, 192, 135);
    cursor: pointer;
    font-weight: bold;
}

#botoes_header #darkmode{
    text-indent: -3000px;
    background: var(--btn-dark-bg);
    border: var(--btn-border);
    background-size: var(--btn-dark-tamanho-imagem);
    overflow: hidden;
}
#botoes_header #darkmode:hover{
    background-color:  rgba(150, 150, 150, 0.377);
    text-indent: -3000px;
    overflow: hidden;
    transition: all 0.7s;
}

#botoes_header #interrogacao{
    text-indent: -3000px;
    background: var(--btn-interrogacao-bg);
    border: var(--btn-border);
    background-size: 90%;
    overflow: hidden;
}
#botoes_header #interrogacao:hover{
    background-color:  rgba(150, 150, 150, 0.377);
    text-indent: -3000px;
    background-size: 90%;
    overflow: hidden;
    transition: all 0.7s;
}
#botoes_header #perfil{
    text-indent: 5000px;
    background: var(--btn-perfil-bg);
    background-size: 110%;
    border: var(--btn-border);
 }
 #botoes_header #perfil:hover{
    background: url(../img/icone_usuario.png) center center no-repeat;
    background-size: 110%;
    background-color:  rgba(150, 150, 150, 0.377);
    text-indent: -3000px;
    overflow: hidden;
    transition: all 1s;
}

#botoes_header .btn_normal{
    font-size: 1.2em;
    height: 40px;
    cursor: pointer;
    border-radius: 5%;
    border: 2px solid rgb(0, 192, 135, 0.5);
    padding: 0 15px;
    margin: 0 5px;
    color: rgb(0, 192, 135);
}
#botoes_header .btn_normal:hover{
    background-color:rgb(0, 192, 135, 0.5);
    border: 2px solid transparent;
    color: white;
}


/* MENU DROPDOWN PARA O MOBILE */

#menu_drop{
    height: 40px;
    width: 50px;
    display: none;
}
#menu_drop #btn_drop{
    height: 40px;
    width: 40px;
    cursor: pointer;
    filter: var(--cor-menu-drop);
    background: url(../img/menu_hamburguer.png) no-repeat center center;
    background-size: 100%;
    text-indent: 1000px;
}

/* FIM HEADER */

/* Footer */
footer{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    width: 100%;
    background-color: var(--bg-destaque);
    font-size: 1.3em;
    border-top: 2px solid rgba(204, 204, 204, 0.37);
}
footer p{
   margin-top: 10px;
   text-align: center;
}
footer #redes_sociais{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    background-color: transparent;
}
footer .box_social{
   margin: 0 5px;
   width: 50px;
   height: 45px;
}
footer .box_social a{
    width: 100%;
    height: 100%;
    display: block;
    filter: var(--cor-menu-drop);
    text-indent: -3000px;
 }
footer .box_social a.face{
   background: var(--img-face);
   background-size: 100%;
}
footer .box_social a.insta{
    background: var(--img-insta);
    background-size: 100%;
}
footer .box_social a.twitter{
    background: var(--img-twitter);
    background-size: 100%;
}
footer .box_social a.whats{
    background: var(--img-whats);
    background-size: 100%;
}
.cor_alink{
    color: var(--all-color-font)
}

/* Header Mobile 1024px*/

@media (max-width: 1024px) {
    header nav{
        display: none;
    }
    #botoes_header{
        display: none;
    }
    #menu_drop{
        display: block;
    }
    header #nav_drop_down ul li a:hover{
     color: var(--all-color-font);
     transition: 0.5s;
     }
     #nav_drop_down{
         display: block;
         position: absolute;
         width: 0px;
         background-color: var(--bg-menu-drop-celular);
         right: 0; 
         top: 70px;

         transition: .6s;
         z-index: 1000;
         height: calc(100vh - 70px);
         visibility: hidden;
         overflow-y: hidden;

     }
     #menu_drop.active #nav_drop_down{
        width: 450px;
        visibility: visible;
        overflow-y: auto;
 
     }
     #menu_drop.active #btn_drop{
        background-image: url(../img/menu_hamburguer_X.png);
      }
     #nav_drop_down li{
         width: 100%;
         height: calc(14vh);
         
         display: flex;
         align-items: center;
         justify-content:center;
     }
     #nav_drop_down ul li a{
         display: block;
         font-size: 1.5em;
         text-align: center;
         width: 86%;
         height: 80px;
         border: transparent;
     }
 
     #nav_drop_down li:hover{
         background-color: var(--bg-menu-drop-hover);
         cursor: pointer;
     }
}
/* Fim Header Mobile 1024px*/

/* Header Mobile 750px*/
@media (max-width: 750px) {
    header nav{
        display: none;
    }
    #box_informativo p{
        font-size: 1.2em;
        text-align: justify;
        padding: 0 50px; 
    }
    #logo{
        width: 16.5%;
    }
    #logo a img{
        width: 100px;
        height: 70px;
    }
    #nav_drop_down{
        display: block;
        position: absolute;
        width: 100%;
        background-color: var(--bg-menu-drop-celular);
        height: 0px;
        top: 70px;

        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }
    #menu_drop.active #nav_drop_down{
        height: calc(100vh - 70px);
        width: 100%;
        visibility: visible;
        overflow-y: auto;
     }
    #nav_drop_down li{
        width: 100%;
        height: calc(14vh);
        display: flex;
        align-items: center;
        justify-content:center;
        flex-direction: column;
    }
    #nav_drop_down ul li a{
        display: block;
        font-size: 1.5em;
        text-align: center;
        width: 85%;
    }
}
/* Fim Header Mobile 750px*/
