html,body,main{
    height: 100%;
}
#container{
    display: flex;
    align-items: center;
    justify-content: space-around;

    height: 90%;
    width: 100%;
}
#container #container_esquerda{
 width: 65%;
 height: 85%;
 background: url(../img/dashboard/imagem_principal.png) center center no-repeat;
 background-size: 65%;
}
#container #container_direita{
    width: 30%;
    border: 4px solid rgba(204, 204, 204, 0.37);
    height: auto;
    min-height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#container #container_direita h1{
    font-size: 3.5em;
    text-align: center;
    color: rgb(0, 192, 135);
    margin-bottom: 50px;
}
#container #container_direita a{
    font-size: 2.5em;
    padding: 30px;
    width: 80%;
    text-align: center;
}
#container #container_direita a:hover{
    background-color: rgb(0, 192, 135,0.5);
}

@media (max-width: 1024px){
    #container #container_esquerda{
        display: none;
    }
    #container #container_direita{
        width: 70%;
        border: 4px solid rgba(204, 204, 204, 0.37);
        height: auto;
        min-height: 85%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

@media (max-width: 750px){
    #container #container_esquerda{
        display: none;
    }
    #container #container_direita{
        width: 90%;
        border: 4px solid rgba(204, 204, 204, 0.37);
        height: auto;
        min-height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    #container #container_direita a{
        font-size: 2.5em;
        padding: 30px;
        width: 80%;
        text-align: center;
    }
    #container #container_direita h1{
        font-size: 3em;
        text-align: center;
        color: rgb(0, 192, 135);
        margin-bottom: 50px;
    }
}