main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 82vh;
  height: auto;
}
#container_itens{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  margin: 50px;
  width: 80%;
}
#container_itens #historico{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  width: 95%;
}
#container_itens h1{
  text-align: center;
  width: 98%;
  font-size: 4em;
}
#historico #pesquisar{
  display: flex;
  align-items:center;
  justify-content: center;
  width: 98%;
  height: 30px;
}
#historico input[type='text']{
 border: 2px solid rgba(184, 182, 182, 0.4);
 border-right: 0px solid transparent;
 border-radius: 50px 0 0 50px;
 width: 40%;
 height: 100%;
 font-size: 1.3;
}
#historico #imagem_pesquisa{
  border: 2px solid rgba(184, 182, 182, 0.4);
  border-left: 0px solid transparent;
  border-radius: 0 50px 50px 0;
  height: 100%;
  width: 50px;
  display: flex;
  align-items:center;
  justify-content: center;
  cursor: pointer;
}
input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}
#historico .caixa_historico{
  margin: 20px;
  width: 98%;
  height: 120px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
#historico .caixa_historico .img_pedido{
    margin: 10px;
    width: 150px;
    height: 100px;
    border: 1px solid rgba(184, 182, 182, 0.4);
    background: url(../img/configuracao_usuario/sem_imagem.jpg.opdownload) no-repeat center center;
    background-size: 200px;
}
#historico .caixa_historico.concluido{
  border: 2px solid rgba(0, 128, 0);
}
#historico .caixa_historico.pendente{
  border: 2px solid rgba(255, 166, 0);
}
#historico .caixa_historico.cancelado{
  border: 2px solid rgba(255, 0, 0);
}
#historico .texto{
  width: 100%;
}
#historico .status{
  margin: 10px;
  width: 150px;
  height: 100px;
  border: 3px solid rgba(184, 182, 182, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#historico .status.concluido{
  color: rgba(0, 128, 0);
}
#historico .status.pendente{
  color: rgba(255, 166, 0);
}
#historico .status.cancelado{
  color: rgba(255, 0, 0);
}

#historico .status .titulo_status{
  font-size: 1.5em;
}

@media (max-width: 750px) {
  #container_itens{
    width: 95%;
  }
  #container_itens #historico{
    width: 95%;
  }
  #historico .caixa_historico .img_pedido{
    height: 75px;
    background-size: 100px;
    
}
#historico .status{
  display: none; 
}
}