:root{
  --color: rgb(0, 192, 135);
}

h1{
  color: var(--color);
  font-size: 2.7rem;
  padding-top: 7%;
  padding-left: 10%;
  margin-bottom: 1rem;
}

#ancora{
  margin: 2rem;
  padding: 5px 2px;
  border: var(--color) solid 2px;
  border-radius: 1.5rem;
}

div#conteudo{
  display: grid;
  grid-template-columns: 1.5fr 5.5fr 1fr;
  grid-template-areas: "I D S";
  grid-template-rows: 30vh;
}

#foto{
  grid-area: I;
  align-items: center;
  justify-content: center;
  display: flex;
}

#foto img{
  height: 14rem;
  width: 15rem;
}

#detalhes{
  grid-area: D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2.5rem;
  font-size: 1.2rem;
  max-height: 200px;
}

#detalhes p#culto1{
  visibility: visible;
  opacity: 1;
  position: relative;
 
}

#baixo{
  max-height: 200px;
  font-size: 1.2rem;
  margin: 0;
  border: 0;
  padding: 1.5rem 1.5rem;
  line-height: 1.7rem;
}

#baixo p{
  overflow: hidden;
  max-height: 0px;
  transition:  0.15s;
}

#baixo input{
  visibility: hidden;
  opacity: 0;
  position: fixed;
}

#baixo input:checked ~ p{
  height: auto;
  max-height: 400px;
  transition: 0.15s;

}

#baixo p#oculto{
  position: absolute;
  visibility: hidden;
  opacity: 0;
 
}

#seta{
  grid-area: S;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 5rem;
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--color);
}

#seta svg{
  fill: var(--color);
  height: 3.5rem;
  width: 3.5rem;
  cursor: pointer;
}

@media (max-width: 690px) {

  #ancora p{
    font-size: 1rem;
  }

  #detalhes p#oculto1{
  visibility: hidden;
  opacity: 0;
  position: absolute;
  }



  #baixo p#oculto{
    position: relative;
    opacity: 1;
    visibility: visible;
   
  }

  #seta svg{
    height: 3rem;
  }

  #foto img{
    height: 10rem;
    width: 11rem; 
  }

}




