:root{
  --color: rgb(0, 192, 135);
}

h1{
  color: var(--color);
  font-size: 2.7rem;
  padding-top: 7%;
  padding-left: 10%;
  margin-bottom: 1rem;
}

#ancora{
  margin: 2rem;
  padding: 5px 2px;
  border: var(--color) solid 2px;
  border-radius: 1.5rem;
}

div#conteudo{
  display: grid;
  grid-template-columns: 1.5fr 5.5fr 1fr;
  grid-template-areas: "I D S";
  grid-template-rows: 30vh;
}

#foto{
  grid-area: I;
  align-items: center;
  justify-content: center;
  display: flex;
}

#foto img{
  height: 90%;
  width: 80%;
}

#detalhes{
  grid-area: D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2rem;
  color: black;
  max-height: 200px;
}

#baixo{
  max-height: 200px;
  font-size: 1.2rem;
  color: black;
  margin: 0;
  border: 0;
  padding-left: 1rem;
}

#baixo p{
  overflow: hidden;
  max-height: 0px;
  transition:  0.15s;
}

#baixo input{
  visibility: hidden;
  opacity: 0;
  position: fixed;
}

#baixo input:checked ~ p{
  height: auto;
  max-height: 400px;
  transition: 0.15s;
}

#seta{
  grid-area: S;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 5rem;
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--color);
}

#seta svg{
  fill: var(--color);
  height: 3.5rem;
  width: 3.5rem;
  cursor: pointer;
}



