<<<<<<< HEAD
#formulario {
    margin: 50px 10%;
    border: 1px solid rgb(210, 210, 210);
    background-color: rgb(253, 251, 251);
}

.titulo {
    color: rgb(76, 192, 167);
    ;
=======
#formulario{
    margin: 25px 10%;
    border: 1px solid red;
}

.titulo{
    color: rgb(0, 192, 135);;
>>>>>>> 17e07b9c97ff6655e4806310b276bf6b0d2b4eac
    font-size: 4em;
    margin: 75px 0 50px 0;
    text-align: center;
}
<<<<<<< HEAD

span.titulo {
    padding: 50px;
}

#pedido label {
    margin: 0 0 500px 6%;
    font-size: 17px;
}

#pedido input[type=text] {
    font-size: 17px;
    width: 40%;
    height: 30px;
    border: 1px solid rgb(210, 210, 210);
    padding: 2px;
    margin: 0 0 5px 6%;
}

#pedido input::placeholder {
    color: rgb(210, 210, 210);
}

#tipo input {
    margin: 7px;
}

#pedido input[type=checkbox] {
    margin: 20px 5px 30px 100px;
    border: 1px solid rgb(210, 210, 210);
}

.tipom {
    color: rgb(10, 10, 10);
    font-size: 2em;
    margin: 150px 120px 10px 100px;
    text-align: center;
}

#c {
    margin: 0px 50px 50px 50px;
}

#descrição {
    height: 250px;
    border: 1px solid rgb(210, 210, 210);
    margin-left: 50px;
    width: 90%;
}

#fotos {
    padding: 10px 50px 10px 5px;
    background: rgb(76, 192, 167);
    color: white;
    margin-left: 300px;
    border-color: aquamarine;
}

#pedido input[type=text]#comp {
    width: 23%;
}

#pedido input[type=text]#num {
    width: 10%;
}

#pedido label#complemento {
    margin-left: 115px;
}

#f {
    margin-left: 300px;
    font-size: 2em;
}

#enviar {
    text-align: center;
    margin: 100px 0 30px 500px;
    background: rgb(76, 192, 167);
    color: white;
    border: 0ch;
    width: 100px;
    height: 50px;
    font-size: 25px;
=======
span.titulo{
    padding: 50px;
}
#pedido label{
    margin: 0 0 5px 6%;
    font-size: 17px;
}
#pedido input{
    font-size: 17px;
    width: 50%;
    height: 30px;
    border: 1px solid rgb(210,210,210);
    padding: 2px;
    margin: 0 6% 5px 6%;
}
#pedido input::placeholder{
    color: rgb(210,210,210);
>>>>>>> 17e07b9c97ff6655e4806310b276bf6b0d2b4eac
}