* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    text-decoration: none;
    border:0;
    background-color: transparent;
}
 :root{
    --bg-padrao:white;
    --bg-destaque: rgb(203, 215, 227, 0.3);
    --logo-imagem: url(../img/logo.png);

    --bg-menu-drop:rgba(203, 215, 227, 0.541);
    --bg-menu-drop-hover:rgb(161, 196, 231);

    --cor-menu-drop: invert(0%);
    --bg-menu-drop-celular:rgba(203, 215, 227);

    --all-color-font: rgb(0, 0, 0, 0.9);
    --destaque-color-font: red;

    --btn-dark-bg: url(../img/lua.png) center center no-repeat;
    --btn-interrogacao-bg: url(../img/interrogacao.png) center center no-repeat;
    --btn-border: 2px solid black;
    
 }

 .dark-mode:root{
    --bg-padrao: rgb(43, 43, 43);
    --bg-destaque:rgb(59, 60, 61);
    --logo-imagem: url(../img/logo_branca.png);
    
    --bg-menu-drop:rgba(147, 148, 148, 0.747);
    --bg-menu-drop-hover:rgba(203, 215, 227, 0.6);

    --cor-menu-drop: invert(100%);
    --bg-menu-drop-celular:rgba(147, 148, 148);

    --all-color-font: rgba(255, 255, 255, 0.9);
    --destaque-color-font: rgb(219, 255, 17);

    --btn-dark-bg: url(../img/lua_inverso.png) center center no-repeat;
    --btn-interrogacao-bg: url(../img/interrogacao_inverso.png) center center no-repeat;
    --btn-border: 2px solid white;
 }
/* HEADER */
body{
    color: var(--all-color-font);
    background-color: var(--bg-padrao);
    min-width: 200px;
    max-width: 2000px;
    margin: 0 auto;
}
header{
    height: 70px;
    width: 100%;
    background-color: var(--bg-padrao);

    display: flex;
    align-items:center;
    justify-content: space-between;
}
/* LOGO HEADER */
#logo{
    width: 16.5%;
    height: 70px;
}

#logo a{
    display: block;
    width: 135px;
    background: var(--logo-imagem) center right no-repeat;
    background-size: 100%;
    text-indent: -3000px;
    height: 70px;
}

/* NAV HEADER */

header nav ul li{
    float: left;
    font-size: 1.3em;
}
header nav ul li a{
    padding: 0 30px;
    transition: 0.5s;
    color: var(--all-color-font);
}
header nav ul li a:hover{
    color: rgb(0, 192, 135);
    transition: 0.5s;
}
.aqui{
    color: var(--destaque-color-font);
}

/*  BOTOES HEADER */
#botoes_header{
    display: flex;
    align-items: center;
   
}
#botoes_header .btn_redondo{
    text-align: center;
    font-size: 1.3em;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 100%;
    border: 2px solid rgb(2, 2, 2, 0.5);
    padding: 0 15px;    
    margin: 0 5px;
}

#botoes_header #darkmode{
    text-indent: -3000px;
    background: var(--btn-dark-bg);
    border: var(--btn-border);
    background-size: 90%;
    overflow: hidden;
}
#botoes_header #darkmode:hover{
    background: var();
    background-color:  gray;
    border: 2px solid transparent;
    text-indent: -3000px;
    background-size: 85%;
    overflow: hidden;
}

#botoes_header #interrogacao{
    text-indent: -3000px;
    background: var(--btn-interrogacao-bg);
    border: var(--btn-border);
    background-size: 85%;
    overflow: hidden;
}
#botoes_header #interrogacao:hover{
    background: url(../img/interrogacao_inverso.png) center center no-repeat;
    background-color:  gray;
    border: 2px solid transparent;
    text-indent: -3000px;
    background-size: 85%;
    overflow: hidden;
}

#botoes_header .btn_normal{
    font-size: 1.2em;
    height: 40px;
    cursor: pointer;
    border-radius: 5%;
    border: 2px solid rgb(0, 192, 135, 0.5);
    padding: 0 15px;
    margin: 0 5px;
    color: rgb(0, 192, 135);
}
#botoes_header .btn_normal:hover{
    background-color:rgb(0, 192, 135, 0.5);
    border: 2px solid transparent;
    color: white;
}
/* MENU DROPDOWN PARA O MOBILE */
#menu_drop{
    height: 40px;
    width: 50px;
    display: none;
}
#menu_drop img {
    height: 40px;
    width: 40px;
    cursor: pointer;
    filter: var(--cor-menu-drop)
}

/* FIM HEADER */

/* ARTICLE - CONTEÚDOS PRINCIPAIS */

/* ARTICLE - Imagem Apresentacao */
#box_imagem_Apresentacao{
    background: var(--bg-destaque) url(../img/imagem_apresentacao.png) no-repeat center center;
    height: 650px;
}
#box_imagem_Apresentacao h1{
    font-size: 4.5em;
    text-align: center;
    color: rgb(0, 192, 135);
    text-shadow: 3px 3px rgba(0, 0, 0, 0.6); /* Vertical, Horizontal*/
    margin: 0 0;
}
/* ARTICLE - BOX TEXTO */
article{
    font-size: 1.1em;
    background-color: var(--bg-padrao);
}
article .titulo{
    font-size: 2em;
    text-align: center;
    color: rgb(0, 192, 135);
    margin: 20px;
    
}
#box_informativo p{
    font-size: 1.2em;
    text-align: justify;
    padding: 0 150px;
    
}
#box_informativo .box_imagens {
    background: var(--bg-destaque);
    background: var(--bg-destaque) url(../img/sig_latas.png) no-repeat center bottom;
    background-size: 70%;
    height: 725px;

}

#box_informativo .box_videos{
    display:flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    height: 700px;
}
#box_informativo .box_videos iframe{
    width: 50%;
    height: 700px;
}
/* Footer */
footer{
    display: flex;
    align-items: center;
    justify-content:center;

    margin-top: 30px;
    background-color: var(--bg-destaque);
    height: 50px;
    font-size: 1.3em;
}


@media (max-width: 1024px) {
    
   /* Header */
   #botoes_header{
       display: none;
   }
   #menu_drop{
       display: block;
   }
   header #nav_drop_down ul li a:hover{
    color: var(--all-color-font);
    transition: 0.5s;
    }
    #nav_drop_down{
        display: none;
        position: absolute;
        width: 450px;
        z-index: 100;
        background-color: var(--bg-menu-drop-celular);
        border-radius: 0%;
        height: calc(100vh);
        text-align: left;

        right: 0; 
        top: 70px;
    }
    #nav_drop_down li{
        width: 100%;
        height: calc(14.3vh);
        display: flex;
        align-items: center;
        justify-content:center;
        flex-direction: column;
    }
    #nav_drop_down ul li a{
        display: block;
        font-size: 1.5em;
        text-align: center;
        width: 86%;
        height: 80px;
        border: transparent;
    }

    #nav_drop_down li:hover{
        background-color: var(--bg-menu-drop-hover);
        cursor: pointer;
    }
    #menu_drop.active #nav_drop_down{
        display: block;

    }
    .ViewCelular{
        display:none;
    }
    /* Fim Header */
    #box_imagem_Apresentacao{
        background: var(--bg-destaque) url(../img/imagem_apresentacao.png) no-repeat center center;
        height: 50px;
    }
   #box_informativo .box_imagens{
        background: var(--bg-destaque) url(../img/sig_latas.png) no-repeat center bottom;
        background-size: 800px;
        height: 725px;
    }
    #box_informativo p{
        font-size: 1.2em;
        text-align: justify;
        padding: 0 100px; 
    }
    #box_imagem_Apresentacao{
        background: var(--bg-destaque) url(../img/imagem_apresentacao.png) no-repeat center center;
        background-size: 800px;
        width: 100%;
        height: 650px;
    }
    #box_informativo .box_videos iframe{
        width: 60%;
        height: 400px;
    }
    

}

@media (max-width: 600px) {
    /* Header */
    .ViewCelular{
        display:block;
    }
    header nav{
        display: none;
    }
    #box_informativo p{
        font-size: 1.2em;
        text-align: justify;
        padding: 0 50px; 
    }
    #logo{
        width: 16.5%;
    }
    #logo a img{
        width: 100px;
        height: 70px;
    }
    #nav_drop_down{
        display: none;
        position: absolute;
        width: 100%;
        z-index: 100;
        background-color: var(--bg-menu-drop-celular);
        border-radius: 0%;
        height: calc(100vh);
        text-align: left;
         
    }
    #nav_drop_down li{
        width: 100%;
        height: calc(14.3vh);
        display: flex;
        align-items: center;
        justify-content:center;
        flex-direction: column;
    }
    #nav_drop_down ul li a{
        display: block;
        font-size: 1.5em;
        text-align: center;
        width: 98%;
        border: transparent;
    }
    /* FIM Header */
    #box_informativo .box_videos iframe{
        width: 80%;
        height: 300px;
    }
    #box_informativo .box_imagens {
        background: var(--bg-destaque);
        background: var(--bg-destaque) url(../img/sig_latas.png) no-repeat center center;
        background-size: 550px;
        height: 500px;
    
    }
    #box_imagem_Apresentacao{
        background: var(--bg-destaque) url(../img/imagem_apresentacao.png) no-repeat center bottom;
        background-size: 550px;
        height: 400px;
    }
    #box_imagem_Apresentacao h1{
        font-size: 2.5em;
        text-align: center;
        color: rgb(0, 192, 135);
        text-shadow: 3px 3px rgba(0, 0, 0, 0.6); /* Vertical, Horizontal*/
        margin: 0 0;
    }
    article .titulo{
        font-size: 1em;
        text-align: center;
        color: rgb(0, 192, 135);
        margin: 20px;
        
    }
 }

