
/* ARTICLE - CONTEÚDOS PRINCIPAIS */

/* ARTICLE - Imagem Apresentacao */
#box_imagem_Apresentacao{
    /* background: var(--bg-destaque) url(https://studiosol-a.akamaihd.net/uploadfile/letras/playlists/3/4/5/b/345bf64886b24a82899bf05ab394e48e.jpg) no-repeat center center; */
    
    width: 100%;
}
#box_imagem_Apresentacao h1{
    font-size: 4em;
    text-align: center;
    color: rgb(0, 192, 135);
    text-shadow: 3px 3px rgba(0, 0, 0, 0.6); /* Vertical, Horizontal*/
    margin: 0 0;
}
/* ARTICLE - BOX TEXTO */
article{
    font-size: 1.1em;
    background-color: var(--bg-padrao);
}
article .titulo{
    background-color: transparent;
    width: 100%;  
    font-size: 2em;
    text-align: center;
    color: rgb(0, 192, 135);
}

h1 {
    font-size: 3em;
    text-align: center;
    color: rgb(0, 192, 135);
    text-shadow: 3px 3px rgba(0, 0, 0, 0.6); /* Vertical, Horizontal*/
    margin: 0 0;
}

#box_informativo p{
    font-size: 1.2em;
    text-align: justify;
    padding: 0 150px;
}

#box_informativo h1{
    font-size: 3em;
    text-align: center;
    color: rgb(0, 192, 135);
    text-shadow: 3px 3px rgba(0, 0, 0, 0.6); /* Vertical, Horizontal*/
    margin: 0 0;
}

#box_informativo_contato {
    display: flex;
}

#box_informativo_contato h1{
    font-size: 3em;
    text-align: center;
    color: rgb(0, 192, 135);
    text-shadow: 3px 3px rgba(0, 0, 0, 0.6); /* Vertical, Horizontal*/
    margin: 0 0;
}

#box_informativo_contato p{
    font-size: 1.2em;
    text-align: justify;
    margin: 0 150px;
}

#contato {
    display: flex;
    height: 200px;
    flex: 1;
}

#contato-direita {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

fieldset {
    border: 2px solid #9b9b9b;
    border-radius: 5px;
    margin-right: 15%;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 15px 15px;
}

input[type='email'] {
    width: 100%;
    height: 40px;
    font-size: 18px;
    padding-left: 5px;
    background-color: #ffffff;
    border: 2px solid #9b9b9b;
    border-radius: 5px;
    margin-bottom: 15px;
}

input[type='text'] {
    width: 100%;
    height: 40px;
    font-size: 18px;
    padding-left: 5px;
    background-color: #ffffff;
    border: 2px solid #9b9b9b;
    border-radius: 5px;
    margin-bottom: 15px;
}

textarea {
    width: 100%;
    height: 100%;
    font-size: 18px;
    padding-left: 5px;
    background-color: #ffffff;
    border: 2px solid #9b9b9b;
    border-radius: 5px;
    resize: none;
}

#btn_enviar {
    font-size: 1.2em;
    width: 80%;
    height: 40px;
    cursor: pointer;
    border-radius: 5%;
    background-color: white;
    border: 2px solid #aea8f3;
    padding: 0 15px;
    margin-left: 22px;
    color: #6558f5;
    border-radius: 5px;
}

#btn_enviar:hover {
    background-color: #6558f5;
    border: 2px solid transparent;
    transition: 0.5s;
    color: white;
}

#box_comentario h1{
    font-size: 3em;
    text-align: center;
    color: rgb(0, 192, 135);
    text-shadow: 3px 3px rgba(0, 0, 0, 0.6); /* Vertical, Horizontal*/
    margin: 0 0;
}

#box_comentario p{
    font-size: 1.2em;
    text-align: justify;
    padding: 5px 40px;
}

#comentarios {
    border: 2px solid #9b9b9b;
    border-radius: 5px;
    display: flex;
    margin: 25px 150px;
}

#foto_comentario {
    margin: 30px 60px;
    display: inline;
}

#foto_comentario img{
    width: 90px;
    border-radius: 50%;
    border: 3px solid #767676;
    background-color: #dcdada;
}

#texto_comentario {
    display: flex;
    flex-direction: column;
}

#acoes_comentario #btn_like{
    background: var(--btn-like-bg);
    width: 60px;
    height: 60px;
    background-size: 90%;
    cursor: pointer; 
    margin-top: 15px;
    transition: transform 200ms ease-in-out;

}

#acoes_comentario #btn_like:hover{
    transform: scale(1.25);
}

#acoes_comentario #btn_deslike{
    background: var(--btn-deslike-bg);
    width: 60px;
    height: 60px;
    background-size: 90%;
    cursor: pointer;  
    transition: transform 200ms ease-in-out;  

}

#acoes_comentario #btn_deslike:hover{
    transform: scale(1.25);
}

.button {
    float: left;
}

#btn_like {
    background-image: url(../img/like.png);
}

#btn_deslike{
    background: url(../img/deslike.png);
}